
a:link{
    color: red;
}
a:visited{
    color: rgb(0, 255, 0);
}
li:nth-child(2n+2){
    color: skyblue;
}
h1{
    text-align: center;
    color: lightseagreen;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
}
h1::after{
    position: absolute;
    content: ;
    background-color: aqua;
    width: 100px;
    height: 100px;
    bottom: 0;
    left:50% ;
    margin-left: -50px;
    

    
}